
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 p-l-0 p-r-0">
                <div class="step2-header text-white">
                    <div class="row">
                        <div class="col-md text-left"><a routerLink="/" class="fas fa-angle-left step2-fa-left"></a>
                        </div>
                        <div class="col-md text-center fs-13">13h 10m Left</div>
                        <div class="col-md  text-right"><i class="far fa-question-circle"></i></div>
                    </div>

                    <div class="row m-t-20 text-center">
                        <div class="col-md fs-13"> Max 7 Player From a Team</div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-md fs-13">
                            <div>Players</div>
                            <div><span class="fs-18 f-w-b">0</span>/11</div>
                        </div>
                        <div class="col-md p-r-0">
                            <div class=" text-right">
                                <img class="step2-header-team-logo" src="/assets/img/INA-CR1@2x.png">
                            </div>
                        </div>
                        <div class="col-md-1 p-l-0">
                            <div>IND</div>
                            <div class="fs-16 f-w-b">0</div>
                        </div>
                        <div class="col-md-1 text-right p-r-0">
                            <div>SLR</div>
                            <div class="fs-16 f-w-b">0</div>
                        </div>
                        <div class="col-md p-l-0">

                            <div class=" text-left">
                                <img class="step2-header-team-logo" src="/assets/img/SL-A-CR1@2x.png">
                            </div>
                        </div>

                        <div class="col-md fs-13 text-right">
                            <div>Credit Left</div>
                            <div><span class="fs-18 f-w-b">100</span></div>
                        </div>
                    </div>
                    <div class=" m-t-30 m-b-20  text-center text-black">
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        <span class="step2-team-number"></span>
                        


                    </div>
                </div>


                <section id="tabs" style="background:#ffffff">


                    <div class="row">
                        <div class="col-md-12 ">
                            <nav class="">
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">WK(0)</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">BAT(0)</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">AR(0)</a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                        role="tab" aria-controls="nav-about" aria-selected="false">BOWL(0)</a>
                                </div>
                            </nav>
                            <div class="tab-content " id="nav-tabContent ">
                                <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">

                                    <div class="step2-tab-banner p-l-0 p-r-0 text-white">
                                        <div class="row">
                                            <div class="col-md">
                                                <span class="badge  badge-primary m-l-10">New</span>
                                            </div>
                                            <div class="col-md text-center fs-14">
                                                Pick 3-4 Batsman
                                            </div>
                                            <div class="col-md text-right ">
                                                <i class="fas fa-exclamation-circle"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="step2-tab-banner-sm">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-4">PLAYERS</div>
                                            <div class="col-md-2">POINTS</div>
                                            <div class="col-md-2">CREDITS</div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    </div>
                                    <div class="step2-member-row">
                                        <div class="row">
                                            <div class="col-md-2 text-center"><img class="step2-member-pic"
                                                    src="/assets/img/person-1824144_960_720-e1494184045144.png"></div>
                                            <div class="col-md-4 fs-14 m-t-5">
                                                <div>Player1</div>
                                                <div><span style="color:red">IN-A</span>-BAT</div>
                                            </div>
                                            <div class="col-md-2 fs-14 m-t-10">50</div>
                                            <div class="col-md-2 fs-14 m-t-10">75.5</div>
                                            <div class="col-md-2 step2-vr-line text-center m-t-10">
                                                    <i class="fas fa-2x fa-plus-circle" style="color:#bbbbbb"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="step2-member-row">
                                            <div class="row">
                                                <div class="col-md-2 text-center"><img class="step2-member-pic"
                                                        src="/assets/img/person-1824144_960_720-e1494184045144.png"></div>
                                                <div class="col-md-4 fs-14 m-t-5">
                                                    <div>Player1</div>
                                                    <div><span style="color:red">IN-A</span>-BAT</div>
                                                </div>
                                                <div class="col-md-2 fs-14 m-t-10">50</div>
                                                <div class="col-md-2 fs-14 m-t-10">75.5</div>
                                                <div class="col-md-2 step2-vr-line text-center m-t-10">
                                                        <i class="fas fa-2x fa-plus-circle" style="color:#bbbbbb"></i>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="step2-member-row">
                                                <div class="row">
                                                    <div class="col-md-2 text-center"><img class="step2-member-pic"
                                                            src="/assets/img/person-1824144_960_720-e1494184045144.png"></div>
                                                    <div class="col-md-4 fs-14 m-t-5">
                                                        <div>Player1</div>
                                                        <div><span style="color:red">IN-A</span>-BAT</div>
                                                    </div>
                                                    <div class="col-md-2 fs-14 m-t-10">50</div>
                                                    <div class="col-md-2 fs-14 m-t-10">75.5</div>
                                                    <div class="col-md-2 step2-vr-line text-center m-t-10">
                                                            <i class="fas fa-2x fa-plus-circle" style="color:#bbbbbb"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            

                                    <div class="row m-t-20">
                                        <div class="col text-center"><a routerLink="/step3" type="button" class="btn btn-primary step2-btn">COUNTINUE</a></div>
                                    </div>
                                            

                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">

                                    <div class="container-fluid m-t-10 scroll">
                                        <div class="tab-head">
                                            <span class="badge badge-pill badge-primary">New</span>
                                        </div>




                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <div class="container-fluid m-t-10 scroll">
                                        <div class="tab-head">
                                            <h5><strong>Upcoming Matches</strong></h5>
                                        </div>




                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    <div class="container-fluid m-t-10 scroll">
                                        <div class="tab-head">
                                            <h5><strong>Upcoming Matches</strong></h5>
                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>

            </div>
            <div class="col-md-7 p-l-0 p-r-0">
                <div class="img-bg"></div>
            </div>
        </div>

    </div>

