
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 p-l-0 p-r-0">
                <nav class="navbar navbar-expand-sm bg-light justify-content-center" style="height: 75px;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/assets/img/logo.png" style="width:130px;height:90px;"></a>
                        </li>

                    </ul>
                </nav>



                <section id="tabs">


                    <div class="row">
                        <div class="col-md-12 ">
                            <nav class="effect">
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#nav-home" role="tab" aria-controls="nav-home"
                                        aria-selected="true">CRICKET</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                        href="#nav-profile" role="tab" aria-controls="nav-profile"
                                        aria-selected="false">FOOTBALL</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                        href="#nav-contact" role="tab" aria-controls="nav-contact"
                                        aria-selected="false">NBA</a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                        role="tab" aria-controls="nav-about" aria-selected="false">KABADI</a>
                                </div>
                            </nav>
                            <div class="tab-content " id="nav-tabContent ">
                                <div class="tab-pane fade show active " id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">

                                    <div class="container-fluid m-t-10 scroll">
                                        <div class="tab-head">
                                            <h5><strong>Upcoming Matches</strong></h5>
                                        </div>

                                        <a routerLink="/step2" class="card m-t-10">
                                            <div class="card-body t-c">
                                                <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                    World Cup 2019</h6>
                                                <div class="row mb-2">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <div class="team-logo-bg"><img class="team-logo"
                                                                src="/assets/img/INA-CR1@2x.png"></div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                        <h6 class="team-name">IND</h6>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                            15h 10m Left</span> </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                        <h6 class="team-name">SLR</h6>
                                                    </div>
                                                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                            src="/assets/img/SL-A-CR1@2x.png"></div>
                                                </div>
                                            </div>
                                        </a>

                                        <a routerLink="/step2" class="card m-t-10">
                                            <div class="card-body t-c">
                                                <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                    World Cup 2019</h6>
                                                <div class="row mb-2">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <div class="team-logo-bg"><img class="team-logo"
                                                                src="/assets/img/INA-CR1@2x.png"></div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                        <h6 class="team-name">IND</h6>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                            15h 10m Left</span> </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                        <h6 class="team-name">SLR</h6>
                                                    </div>
                                                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                            src="/assets/img/SL-A-CR1@2x.png"></div>
                                                </div>
                                            </div>
                                        </a>

                                        <a routerLink="/step2" class="card m-t-10">
                                            <div class="card-body t-c">
                                                <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                    World Cup 2019</h6>
                                                <div class="row mb-2">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <div class="team-logo-bg"><img class="team-logo"
                                                                src="/assets/img/INA-CR1@2x.png"></div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                        <h6 class="team-name">IND</h6>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                            15h 10m Left</span> </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                        <h6 class="team-name">SLR</h6>
                                                    </div>
                                                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                            src="/assets/img/SL-A-CR1@2x.png"></div>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">

                                    <div class="container-fluid m-t-10 scroll">
                                        <div class="tab-head">
                                            <h5><strong>Upcoming Matches</strong></h5>
                                        </div>

                                        <a routerLink="/step2" class="card m-t-10">
                                            <div class="card-body t-c">
                                                <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                    World Cup 2019</h6>
                                                <div class="row mb-2">
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                        <div class="team-logo-bg"><img class="team-logo"
                                                                src="/assets/img/INA-CR1@2x.png"></div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                        <h6 class="team-name">IND</h6>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                            15h 10m Left</span> </div>
                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                        <h6 class="team-name">SLR</h6>
                                                    </div>
                                                    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                            src="/assets/img/SL-A-CR1@2x.png"></div>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <div class="container-fluid m-t-10 scroll">
                                            <div class="tab-head">
                                                <h5><strong>Upcoming Matches</strong></h5>
                                            </div>
    
                                            <a routerLink="/step2" class="card m-t-10">
                                                <div class="card-body t-c">
                                                    <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                        World Cup 2019</h6>
                                                    <div class="row mb-2">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                            <div class="team-logo-bg"><img class="team-logo"
                                                                    src="/assets/img/INA-CR1@2x.png"></div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                            <h6 class="team-name">IND</h6>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                                15h 10m Left</span> </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                            <h6 class="team-name">SLR</h6>
                                                        </div>
                                                        <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                                src="/assets/img/SL-A-CR1@2x.png"></div>
                                                    </div>
                                                </div>
                                            </a>
    
    
                                        </div>
                                </div>
                                <div class="tab-pane fade" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    <div class="container-fluid m-t-10 scroll">
                                            <div class="tab-head">
                                                <h5><strong>Upcoming Matches</strong></h5>
                                            </div>
    
                                            <a routerLink="/step2" class="card m-t-10">
                                                <div class="card-body t-c">
                                                    <h6 class="card-subtitle mb-2 text-muted card-header-sm">ICC Cricket
                                                        World Cup 2019</h6>
                                                    <div class="row mb-2">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                            <div class="team-logo-bg"><img class="team-logo"
                                                                    src="/assets/img/INA-CR1@2x.png"></div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-left m-t-22 t-c">
                                                            <h6 class="team-name">IND</h6>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center m-t-22"><span class="time-left">
                                                                15h 10m Left</span> </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right m-t-22 t-c">
                                                            <h6 class="team-name">SLR</h6>
                                                        </div>
                                                        <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2"><img class="team-logo"
                                                                src="/assets/img/SL-A-CR1@2x.png"></div>
                                                    </div>
                                                </div>
                                            </a>
    
    
                                        </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
            <div class="col-md-7 p-l-0 p-r-0">
                <div class="img-bg"></div>
            </div>
        </div>

    </div>

