
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 p-l-0 p-r-0">
                <div class="step3-contest">
                    <div class="row text-white">
                        <div class="col-md-5"><a routerLink="/step2" class="fas fa-arrow-left step3-fa-left"></a></div>
                        <div class="col-md-6"> CONTESTs </div>
                    </div>
                    <div class="card m-t-20 m-b-5">
                        <div class="card-body" style="padding:5px;">
                            <div class="row fs-13">
                                <div class="col-md-4 col-sm-4 col-xs-4 t-l">IN-VS-SL</div>
                                <div class="col-md-4 col-sm-4 col-xs-4 text-center t-l" style="color:red;"><i class="far fa-clock"></i> 13h 10m
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 text-right t-l"> GURU </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step3-bg">
                    <div class="container-fluid step3-sort p-t-10">
                        <div class="row">
                            <div class="col-md">
                                <h6 class="fs-14">Sort By:</h6>
                                <button type="button" class="btn btn-sm btn-secondary fs-13">Entry Fee</button>
                                <button type="button" class="btn btn-sm btn-secondary fs-13">Contest Size</button>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="container-fluid">
                        <div> <strong class="fs-14">Mega Contest</strong>
                            <h6 class=""><small>Get Ready For Mega Winnings!</small></h6>
                        </div>

                        <div class="card m-t-10 effect">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <div class="card-subtitle mb-2 text-muted card-header-sm fs-11">Prize Pool</div>
                                            <div><strong class="fs-16">Rs200 Lakhs</strong></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <div class="card-subtitle mb-2 text-muted card-header-sm text-right fs-11 t-l"> Entry</div>
                                            <div class="text-right t-l"><button type="button" class="btn btn-sm btn-success ">Rs 40</button></div>
                                    </div>
                                </div>
                                <div class="progress m-t-15" style="height:10px">
                                    <div class="progress-bar step3-progressbar" style="width:70%"></div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6 col-sm-6 col-xs-6">
                                          <span class="fs-13">15,646 Spots Left</span>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-6 text-right t-l">
                                        <span class="fs-13">12,05,646 Spots</span>
                                      </div>
                                  </div>
                                
                            </div>
                            <div class="card-footer step3-card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fas fa-trophy step3-fa-trophy"></i> <span class="fs-13">61%</span>
                                </div>
                                <div class="col-md-6 text-right t-l">
                                    <span class="step3-card-footer-span">C</span>
                                    <span class="step3-card-footer-span">M</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7 p-l-0 p-r-0">
                <div class="img-bg"></div>
            </div>
        </div>

    </div>

